@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>This web application is for educational purposes only. Feel free to use anything from it.</p>
<p>The project is open source: <a target="_blank" href="https://github.com/Troi-0/Rent-A-Place" class="btn btn-link">GitHub</a></p>
