@{
    ViewData["Title"] = "Thanks for your reservation";
}
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your reservation has been made successfully!</p>
    <hr>
    <p>
        Having trouble? <a asp-controller="Contact" asp-action="ContactUs">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>